@page "/MoviesList"
@inject IToastService ToastService
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<PageTitle>Inicio</PageTitle>

<h1 class="titulo">Escoge tu mejor pelicula <i class="bi bi-film"></i> </h1>
<div>
    <div class="row justify-content-center mt-3 mb-4">
        <div class="col-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar pelicula" @onkeypress="OnTeclaPresionada"  @bind-value="FindMovie" />
                <button class="btn btn-secondary" @onclick="GetMovie">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>

    </div>
</div>

@if (Movies is not null)
{
    var moviesList = Movies;
    <div class="container mb-5 gap-5">
        <div class="row gx-4 row-cols-1 row-cols-md-3 row-cols-xl-5 justify-content-center">

            @foreach (var movie in moviesList)
            {
                <MoviesUserList Movie="movie" OnClick="VerDetalle"/>
            }
        </div>
    </div>
}



@code
{
    private ICollection<MovieDtoResponse>? Movies { get; set; }
    private int? CategoriaSeleccionada { get; set; }
    private string FindMovie { get; set; } = default!;
    public bool IsLoading { get; set; }

    private async Task GetMovie()
    {
        try
        {
            IsLoading = true;

            // Asegúrate de que FindMovie esté codificado correctamente en la URL
            string encodedFilter = Uri.EscapeDataString(FindMovie);
            string apiUrl = $"api/Movies?filter={encodedFilter}";

            // Imprime la URL generada
            Console.WriteLine(apiUrl);

            Movies = await HttpClient.GetFromJsonAsync<ICollection<MovieDtoResponse>>(apiUrl);
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }
        finally
        {
            IsLoading = false;
        }
    }



    protected override async Task OnInitializedAsync()
    {
        try
        {
    

            var response = await HttpClient.GetFromJsonAsync<ICollection<MovieDtoResponse>>("api/Movies");
            if (response != null)
            {
                Movies = response;
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }
    }


    private async Task OnTeclaPresionada(KeyboardEventArgs args)
    {
        if (args.Key.Equals("Enter", StringComparison.InvariantCultureIgnoreCase))
        {
            await Task.Delay(100); // Espera breve
            await GetMovie();
        }
    }


    private void VerDetalle(int id)
    {
        NavigationManager.NavigateTo($"/MoviesList/detail/{id}");
    }
}