/* /Pages/Admin/TheatherDetail.razor.rz.scp.css */
.cuadrado[b-pa9un4dx3z] {
    width: 60px;
    height: 60px;
    background-color: lightgreen;
    margin: 5px;
    float: left;
    text-align: center;
    cursor: pointer;
}

    .cuadrado.seleccionado[b-pa9un4dx3z] {
        background-color: red;
        color: white;
    }

.cuadrado-ocupado[b-pa9un4dx3z] {
    width: 60px;
    height: 60px;
    background-color: gray;
    margin: 5px;
    float: left;
    text-align: center;
    cursor: pointer;
}

.rectangulo[b-pa9un4dx3z] {
    width: 1120px;
    height: 60px;
    background-color: gray;
    margin: 5px auto;
    clear: both;
}


.column-container[b-pa9un4dx3z] {
    display: flex;
    justify-content: space-between;
}


.columna[b-pa9un4dx3z] {
    width: 750px;
    float: left;
}

.progress-overlay[b-pa9un4dx3z] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco difuminado */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para resaltar el overlay */
}

.progress-bar-overlay[b-pa9un4dx3z] {
    width: 100%;
}

/* /Pages/User/TheathersUserDetail.razor.rz.scp.css */
.cuadrado[b-pvbo4y13fd] {
    width: 60px;
    height: 60px;
    background-color: lightgreen;
    margin: 5px;
    float: left;
    text-align: center;
    cursor: pointer;
}

    .cuadrado.seleccionado[b-pvbo4y13fd] {
        background-color: red;
        color: white;
    }

.cuadrado-ocupado[b-pvbo4y13fd] {
    width: 60px;
    height: 60px;
    background-color: gray;
    margin: 5px;
    float: left;
    text-align: center;
    cursor: pointer;
}

.rectangulo[b-pvbo4y13fd] {
    width: 1120px;
    height: 60px;
    background-color: gray;
    margin: 5px auto;
    clear: both;
}


.column-container[b-pvbo4y13fd] {
    display: flex;
    justify-content: space-between;
}


.columna[b-pvbo4y13fd] {
    width: 750px;
    float: left;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-zhgg6m1r2q] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-zhgg6m1r2q] {
    flex: 1;
}

.sidebar[b-zhgg6m1r2q] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-zhgg6m1r2q] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-zhgg6m1r2q]  a, .top-row[b-zhgg6m1r2q]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-zhgg6m1r2q]  a:hover, .top-row[b-zhgg6m1r2q]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-zhgg6m1r2q]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-zhgg6m1r2q] {
        display: none;
    }

    .top-row.auth[b-zhgg6m1r2q] {
        justify-content: space-between;
    }

    .top-row[b-zhgg6m1r2q]  a, .top-row[b-zhgg6m1r2q]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-zhgg6m1r2q] {
        flex-direction: row;
    }

    .sidebar[b-zhgg6m1r2q] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-zhgg6m1r2q] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-zhgg6m1r2q]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-zhgg6m1r2q], article[b-zhgg6m1r2q] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-velbsitj0a] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-velbsitj0a] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-velbsitj0a] {
    font-size: 1.1rem;
}

.oi[b-velbsitj0a] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-velbsitj0a] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-velbsitj0a] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-velbsitj0a] {
        padding-bottom: 1rem;
    }

    .nav-item[b-velbsitj0a]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-velbsitj0a]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-velbsitj0a]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-velbsitj0a] {
        display: none;
    }

    .collapse[b-velbsitj0a] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
