<!-- ModalComponent.razor -->
<div class="modal" style="display: @(IsVisible ? "block" : "none")">
    <div class="modal-dialog d-flex align-items-center justify-content-center">
        <div class="modal-content" style="max-width: 600px;">
            <!-- Contenido de la ventana modal -->
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool IsVisible { get; set; }
}
