
<EditForm Model="Showing" OnValidSubmit="Grabar">
    
<DataAnnotationsValidator />

    <div class="row row-cols-1 row-cols-md-2 g-2">
        <div class="col">
            <div class="mb-3 row">
                <label class="col-sm-2 form-label" for="startDate">Fecha de inicio:</label>
                <input type="datetime-local" id="startDate" class="form-control" @bind-value="Showing.StartDate" />
                <ValidationMessage For="() => Showing.StartDate" />
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 form-label" for="endDate">Fecha fin:</label>
                <input type="datetime-local" id="endDate" class="form-control" @bind-value="Showing.EndDate" />
                <ValidationMessage For="() => Showing.EndDate" />
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label class="col-sm-2 form-label" for="movie">Pelicula:</label>
                    <div class="col-sm-4">
                        <InputSelect @bind-Value="Showing.MovieId" id="movie" class="form-select">
                            <option>-Seleccione la pelicula</option>
                            @foreach (var item in Movies)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="() => Showing.MovieId" />
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label class="col-sm-2 form-label" for="theather">Sala de cine:</label>
                    <div class="col-sm-4">
                        <InputSelect @bind-Value="Showing.TheatherId" id="theather" class="form-select">
                            <option>-Seleccione la sala de cine</option>
                            @foreach (var item in Theathers)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="() => Showing.TheatherId" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2">
        <button type="submit" class="btn btn-primary w-25"><i class="bi bi-floppy me-1"></i>Grabar</button>
    </div>
    
    <ValidationSummary />

</EditForm>

@code {
    [Parameter]
    public ShowingDto Showing { get; set; } = new ShowingDto();

    [Parameter]
    public ICollection<MovieDto> Movies { get; set; } = new List<MovieDto>();

    [Parameter]
    public ICollection<TheatherDto> Theathers { get; set; } = new List<TheatherDto>();

    [Parameter]
    public EventCallback OnGrabar { get; set; }

    private void Grabar()
    {
        OnGrabar.InvokeAsync();
    }

    protected override void OnInitialized()
    {
        Showing.StartDate = DateTime.Now;
        Showing.EndDate = DateTime.Now;
    }


}
