<EditForm Model="Theather" OnValidSubmit="Grabar">

    <DataAnnotationsValidator />

    <div class="row row-cols-1 row-cols-md-2 g-2">
        <div class="col">
            <div class="mb-3 row">
                <label class="col-sm-2 form-label" for="name">Nombre:</label>
                <input type="text" id="name" class="form-control" @bind-value="Theather.Name" />
                <ValidationMessage For="() => Theather.Name" />
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 form-label" for="capacity">Capacidad:</label>
                <input type="number" id="capacity" class="form-control" @bind-value="Theather.Capacity" />
                <ValidationMessage For="() => Theather.Capacity" />
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
        <button type="submit" class="btn btn-primary w-25"><i class="bi bi-floppy me-1"></i>Grabar</button>
    </div>
    </EditForm>

@code {

        [Parameter]
        public TheatherDto Theather { get; set; } = new TheatherDto();

        [Parameter]
        public EventCallback OnGrabar { get; set; }

        private void Grabar()
        {
           OnGrabar.InvokeAsync();
        }

        protected override void OnInitialized()
        {
               
        }
}
